<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-button routerLink="/alumno-create">
          <ion-icon slot="start" name="add"></ion-icon> Crear Cliente
        </ion-button>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-searchbar
          placeholder="Buscar por apellido"
          (ionInput)="filtrarAlumno($event)"
        ></ion-searchbar>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Mostrar clientes filtrados -->
        <ion-item *ngFor="let alumno of alumnos_filtrados">
          <ion-label
            >Codigo:{{alumno.idalumno}} - Nombre:{{alumno.nombres}} -
            Apellido:{{alumno.apellidos}}</ion-label
          >
          <ion-buttons slot="end">
            <ion-button [routerLink]="['/alumno-edit/',alumno.idalumno]">
              <ion-icon slot="start" name="create"></ion-icon> Editar
            </ion-button>
            <ion-button (click)="borrar(alumno.idalumno)">
              <ion-icon slot="start" name="trash"></ion-icon> Borrar
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
