<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-button routerLink="/alumno-cr"  color="primary"  expand="block"  shape="round">
  Alummnos
</ion-button>

<ion-button routerLink="/contacto-create" color="danger"  expand="block"  shape="round">
  Contacto
</ion-button>
</ion-content>
